html, body {
    min-height: 100%;
    height: 100%;
    margin: 0;
}

.main{
   background-color: #f3e7d1;
   min-height: 100%;
   padding: 102px 130px 164px 130px;
}

.head{
    width: 307px;
    z-index: 2;
    color: white;
    padding: 260px 0px 0 483px;
    position: absolute;
}

.ourteam{
    background-image: url("./assets/images/our1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.section{
    width: 100%;
    height: 700px;
    background-color: white;
    margin: 70px 0;
}

.p1{
    font-size: 75px;
    text-align: center;
    letter-spacing: 3px;
    font-family:  'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.p2{
    text-align: center;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    width: 307px;
    height: 15px;
    padding: 0 65px;
    text-align: center;
    font-size: 15px;
}

.ana1{
    float: right;
}

.ana3{
    margin: 50px 90px;
    width: 5px;
    height: 89px;
    background-color: brown;
}

.ana4{
    list-style-type: none;
    margin: -170px 440px;
}

.d1{
    z-index: 2;
    width: 617px;;
    height: 700px;
    position: absolute;
}

.d2{
    z-index: 3;
    position: relative;
    margin: 50px 80px;
    width: 457px;
    height: 600px;
}

.d3{
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

.p3{
    z-index: 4;
    color: white;
    font-size: 25px;
    text-align: center;
    letter-spacing:1px;
    font-family:  'Arial Narrow', Arial, sans-serif;
    position: absolute;
    padding-left: 20%;
    padding-top: 24%;
}

.p4{
    padding: 350px 782px 0px 90px;
    letter-spacing: 1px;
    text-align: justify;
    line-height: 150%;
    color: gray;
}

.p5{
    margin-top: 230px;
    margin-left: 90px;
    z-index: 5;
    color: black;
    font-size: 70px;
    font-family:  'Arial Narrow', Arial, sans-serif;
    position: absolute;
    letter-spacing: 3px;
}

.p6{
    width: 300px;
    margin: 19px 0px 0px -15px;
    list-style-type: none;
    line-height: 30px;
}

.d4{
    padding: 140px 0 0 140px;
    display: inline-block;
}

.p7{
    z-index: 1;
    color: white;
    font-size: 25px;
    letter-spacing:1px;
    font-family:  'Arial Narrow', Arial, sans-serif;
    position: absolute;
    padding-left: 5%;
    padding-top: 13%;
}

.p8{
    z-index: 1;
    color: black;
    font-size: 80px;
    font-family:  'Arial Narrow', Arial, sans-serif;
    position: absolute;
    letter-spacing: 5px;
}

.goya{
    background-color: lightgrey;
    width: 50%;
    height: 100%;
    position: relative;
    float: right;
}

.goya1{
    height: 500px;
    width: 378px;
    margin: 20% 15%;
}

.p9{
    letter-spacing: 1px;
    padding: 55% 0% 0% 0%;
    /* text-indent: 1px; */
    text-align: justify;
    line-height: 150%;
    color: gray;
}

.p10{
    font-weight: bold;
    margin-bottom: 5%;
}

.goya3{
    width: 100%;
    height: 20px;
    background-color: grey;
    margin: 5% 0 5% 0;
    color: white;
    text-align: right;
}

.goya4{
    z-index: 1;
    float: left;
    height: 20px;
    color: white;
    background-color: turquoise;
    width: 33%;
}

.goya5{
    z-index: 1;
    float: left;
    height: 20px;
    color: white;
    background-color: turquoise;
    width: 75%;

}

.sS1{
    padding: 9% 0% 0% 6%;
    width: 40%;
    margin: 0;
    float: left;
}

.p11{
    z-index: 1;
    color: white;
    font-size: 32px;
    letter-spacing: 3px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    padding-left: 11%;
    padding-top: 17%;
}

.sS2{
    position: absolute;
    display: inline-block;
}

.p12{
    z-index: 1;
    color: black;
    font-size: 80px;
    font-family:  'Arial Narrow', Arial, sans-serif;
    position: absolute;
    letter-spacing: 5px;
    padding: 0% 28%
}

.sS3{
    margin: 29% 0% 0 33%;
    width: 32%;
}

.p13{
    padding: 1%;
    text-align: justify;
    line-height: 150%;
    color: gray;
}

.sS4{
    list-style-type: none;
  
}

.d6{
    width: 100%;
    height: 100%;
    position: absolute;
}

.d5{
    margin: 0% 5%;
    float: left;
    width: 60px;
    height: 60px;
    position:relative;
}

.p14{
    width: 150%;
    padding: 100% 0px;
    color: gray;
}

.sS5{
    width: 20%;
    height: 60%;
    margin: 0% 0 0 70%;
}

.sanny1{
    margin: 15% 5%;
    float: right;
}

.sanny2{
    width: 30%;
    height: 100%;
    float: right;
}

.sanny3{
    width: 28%;
    height: 99%;
    float: left;
}

.p15{
    z-index: 1;
    color: white;
    font-size: 32px;
    letter-spacing: 3px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    padding-left: 10%;
    padding-top: 10%;
}

.d8{
    margin-top: 100%;
    width: 100%;
    height: 50%;
}

.p16{
    z-index: 1;
    color: black;
    font-size: 80px;
    font-family:  'Arial Narrow', Arial, sans-serif;
    position: absolute;
    letter-spacing: 5px;
    padding: 11% 0px 0px 7%;
    font-weight: bold;
}

.p17{
    margin: 49% 7% 0 78px;
    color: gray;
    line-height: 160%;
    text-align: justify;
}

.d9{
    width: 10%;
    height: 10%;
    margin: 10% 0 0 21%;
}

.d10{
    width: 5px;
    height: 45px;
    background-color: gray;
    margin: -13% 0% 29px 35%;
    text-align: justify;
}

.p18{
    color: gray;
    margin: -70px 0 0 146px;
}

.sanny4{
    width: 20%;
    height: 60%;
    margin: -13% 0 0 91%;
}